.scrollbar-none::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  ::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9d9d9d;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #676767;
  }
  